.header{
  z-index: auto;
  width: 100%;
  background-color: #000;
}

/* -------------The upper part of Navbar----------- */
/* .header_wrapper{
  
} */

.header_top{
  width: 92%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-items: stretch;
  height: 80px;
  padding: var(--wb-spacing-xs) 0;
}

.header_icon{
  
  width: 64px;
  height: 64px;
  background-image: url(../images/apple-china.jpg); 
  
  background-size: cover;
}


.header_title{
  color: white;
  text-decoration: none;
}

.header_title:hover {
  color: white;
}

.header_title:hover:after,
.header_title.active:after {
  opacity: 1;
}

.header_title.active {
  color: white;
}

.header_name{
  font-size: 30px;
  padding-top: 13px;
  padding-left: 100px;
}

.header_top_menu{
  color: azure;
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.header_search-input{
  padding: 10px 0px 10px 20px;
  color: var(--wb-color-white);
  background-color: #222;
  border: 1px solid var(--wb-grey-15);
  text-overflow: ellipsis
}

.header_input-controls{
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
  color: var(--wb-color-white);
  background-color: #222;
}

.header_wand-container{
  background-color: #222;
  width: 1px;
  height: 43px;
}

.header_wand{
  margin-top: 8px;
  width: 1px;
  height: 30px;

  background-color: #666;
}

.header_input-icon{
  margin-right: 5px;
  margin-left: 10px;
  margin-top: 4px;
  width: 18px;
  height: 18px;
  background-color: #222;
  background-image: url(../images/search.png); 
  text-align: center;
  -webkit-background-size: cover;
  background-size: cover;
}

/* --------------------- Login button settings------------------------ */

.header_item-container {

  display: flex;
}

.header_item-profile {

  display: flex;
}

.syrybf {
  margin-left: 10px;
  width: 65px;
  border: 1px solid #111;
  transition: color .2s ease-in-out;
  cursor: pointer;
}

.syrybf:hover {
  background-color: #333;
  color: white;
}

/* .cjbxog {

}

.dplzxs {

}

.mmztxu{

} */

.header_item-icon{
  margin-left: 20px;
  margin-top: 10px;
  width: 22px;
  height: 22px;
  background-image: url(../images/user.png); 
  -webkit-background-size: cover;
  background-size: cover;
}

/* ---------------------The lower part of Navbar------------------------ */

/* .header_navigation{

} */

.header_desktop{
  width: 100%;
  border-top: 1px solid #666;
}

.header_navigation_menu{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 56px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-left: 80px;
  position: relative;
}

.header_button_menu{
  display: flex;

  flex-direction: row;
  margin-left: 20px;
  align-items: center;
  min-height: 56px;
}

.menu_button {
  border: 0;
  background-color: black;
  padding: 15px;
  border-top: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  text-decoration: none;
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-height: 56px;
  margin: 0;
  text-align: left;
  list-style-type: none;

}

.menu_button:hover {
  color: white;
  border-top: 1px solid #00ADEF;
}

.menu_button:focus {
  border-top: 1px solid #00ADEF;
  color: white;
}

.menu_text{
  font-size: 16px;
  font-family: "MBCorpo Text", DaimlerCS-Regular, sans-serif;
  cursor: pointer;
  color: #bfbfbf;
  text-decoration: none;
}

.menu_text:hover {
  color: white;
}


.menu_text:hover:after,
.menu_text.active:after {
  opacity: 1;
}

.menu_text.active {
  color: white;
}



/* .puppet{
  
} */

.main_button{
  padding-left: 830px;
  display: flex;
  color: #bfbfbf;
}