
/* -------------The upper part of Navbar----------- */

.header{
  z-index: auto;
  width: 100%;
  background-color: #000;
}

.header--fixed{
  padding: 10px 0;

  background-color: #000;
  box-shadow: 0 3px 10px rgba(0, 0, 0, .2);

  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  z-index: 9;
  transform: translate3d(0, 0, 0);
}

/* .header_wrapper{
  
} */

.header_top{
  width: 92%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-items: stretch;
  height: 80px;
  padding: var(--wb-spacing-xs) 0;
}

.header_icon{
  
  width: 64px;
  height: 64px;
  background-image: url(../images/apple-china.jpg); 
  
  background-size: cover;
}


.header_title{
  color: white;
  text-decoration: none;
}

.header_title:hover {
  color: white;
}

.header_title:hover:after,
.header_title.active:after {
  opacity: 1;
}

.header_title.active {
  color: white;
}

.header_name{
  font-size: 30px;
  padding-top: 13px;
  padding-left: 100px;
}

.header_top_menu{
  color: azure;
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.header_search-input{
  padding: 10px 0px 10px 20px;
  color: var(--wb-color-white);
  background-color: #222;
  border: 1px solid var(--wb-grey-15);
  text-overflow: ellipsis
}

.header_input-controls{
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
  color: var(--wb-color-white);
  background-color: #222;
}

.header_wand-container{
  background-color: #222;
  width: 1px;
  height: 43px;
}

.header_wand{
  margin-top: 8px;
  width: 1px;
  height: 30px;

  background-color: #666;
}

.header_input-icon{
  margin-right: 5px;
  margin-left: 10px;
  margin-top: 4px;
  width: 18px;
  height: 18px;
  background-color: #222;
  background-image: url(../images/search.png); 
  text-align: center;
  -webkit-background-size: cover;
  background-size: cover;
}

/* --------------------- Login button settings------------------------ */

.header_item-container {

  display: flex;
}

.header_item-profile {

  display: flex;
}

.syrybf {
  margin-left: 10px;
  width: 65px;
  border: 1px solid #111;
  transition: color .2s ease-in-out;
  cursor: pointer;
}

.syrybf:hover {
  background-color: #333;
  color: white;
}

/* .cjbxog {

}

.dplzxs {

}

.mmztxu{

} */

.header_item-icon{
  margin-left: 20px;
  margin-top: 10px;
  width: 22px;
  height: 22px;
  background-image: url(../images/user.png); 
  -webkit-background-size: cover;
  background-size: cover;
}

/* ---------------------The lower part of Navbar------------------------ */


.header_desktop{
  background-color: black;
  width: 100%;
  height: 56px;
  border-top: 1px solid #666;
}

/* .header_desktop.active {

} */


/* .header_navigation{

} */

.header_navigation_menu{
  display: flex;
  flex-direction: row;
  padding-left: 80px;
}

.header_button_menu{
  display: flex;

  flex-direction: row;
  margin-left: 20px;
  align-items: center;
  min-height: 56px;
}

.menu_button {
  border: 0;
  background-color: black;
  padding: 15px;
  border-top: 1px solid black;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  justify-content: space-between;
  min-height: 56px;
  margin: 0;
  text-align: left;
  list-style-type: none;

}



.menu_button:hover {
  color: white;
  border-top: 1px solid #00ADEF;
}

.menu_button:focus {
  border-top: 1px solid #00ADEF;
  color: white;
}



.menu_text{
  font-size: 16px;
  font-family: MBCorpo Title,DaimlerCAC-Regular,serif;
  cursor: pointer;
  color: #bfbfbf;
  text-decoration: none;
}

.menu_text:hover {
  color: white;
}


.menu_text:hover:after,
.menu_text.active:after {
  opacity: 1;
}

.menu_text.active {
  color: white;
}



/* .puppet{
  
} */

.main_button{
  /* padding-left: 830px; */
  display: flex;
  color: #bfbfbf;
}



/* Toggle */

.nav-toggle {
  width: 30px;
  display: none;

  font-size: 0;
  color: transparent;

  border: 0;
  background: none;
  cursor: pointer;

  position: absolute;
  padding-top: 56px;
  margin-left: 55px;
  z-index: 1;
}

.nav-toggle.active .nav-toggle__item {
  background: none;
}

.nav-toggle__item {
  display: block;
  width: 100%;
  height: 3px;

  background-color: #fff;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;

  transition: background .2s linear;
}

.nav-toggle.active .nav-toggle__item {
  background: none;
}

.nav-toggle__item:before,
.nav-toggle__item:after {
  content: "";
  width: 100%;
  height: 3px;

  background-color: #fff;

  position: absolute;
  left: 0;
  z-index: 1;

  transition: transform .2s linear;
}

.nav-toggle__item:before {
  top: -8px;
}

.nav-toggle__item:after {
  bottom: -8px;
}

.nav-toggle.active .nav-toggle__item:before {
  transform-origin: left top;
  transform: rotate(45deg) translate3d(0px, -2px, 0)
}

.nav-toggle.active .nav-toggle__item:after {
  transform-origin: left bottom;
  transform: rotate(-45deg) translate3d(0px, 3px, 0);
}




@media (max-width: 900px) {

  /* /--The lower part of Navbar--/ */
  .header_navigation_menu {

    width: 100%;
    display: none;
    margin: 0;
    padding-left: 41px;

    position: absolute;
    top: 100%;
    left: 0;
  }

  .header_navigation_menu.active{
    display: block;
  }


  .nav-toggle {
    display: block;
  }

}
  
